<div
  style="
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 450px;
  "
>
  <div
    style="
      background: white;
      text-align: center;
      border: 1px solid #a6b1b6;
      border-radius: 15px;
      box-shadow: 5px 5px 15px #999;
    "
  >
    <div class="card-header header-usco-card" style="background-color: #8f141b">
      <div class="row" style="text-align: center">
        <div class="col" style="margin-top: 20px">
          <img
            title="USCO"
            mat-card-image
            src="images/logo-multicampus.png"
            style="width: 80%"
          />
        </div>
      </div>
      <hr style="border-bottom: dashed 1px #ffffff" />
      <div class="row">
        <div class="col" style="text-align: center; margin-bottom: 20px">
          <small style="color: white; font-weight: bold">
            INICIO DE SESIÓN EDUCACIÓN VIRTUAL
          </small>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding: 20px">
      <form method="post" id="fm1" th:object="${credential}">
        <div class="row">
          <div
            class="col"
            style="text-align: start; padding-left: 30px; padding-right: 30px"
          >
            <label
              style="
                align-items: start;
                margin-bottom: 8px;
                font-size: 12px;
                color: #4e6470;
              "
              >Usuario <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row">
          <div class="col" style="padding-left: 30px; padding-right: 30px">
            <div
              style="display: flex; align-items: center; margin-bottom: 10px"
            >
              <div
                style="
                  display: flex;
                  align-items: center;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                  padding: 5px;
                  color: #4e6470;
                "
              >
                <svg
                  style="width: 16px; height: 16px"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M224 256c70.7 0 128-57.31 128-128S294.7 0 224 0 96 57.31 96 128s57.31 128 128 128zm89.6 32h-19.84C272.2 297.8 248.9 304 224 304s-48.16-6.156-69.76-16H134.4C60.29 288 0 348.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6C448 348.3 387.7 288 313.6 288z"
                  />
                </svg>
              </div>
              <input
                id="username"
                size="25"
                tabindex="1"
                type="text"
                th:disabled="${guaEnabled}"
                th:field="*{username}"
                th:accesskey="#{screen.welcome.label.netid.accesskey}"
                autocomplete="off"
                style="
                  flex-grow: 1;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                  margin-left: 5px;
                  padding: 5px;
                  color: #4e6470;
                "
                placeholder="Digite su usuario"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: start; padding-left: 30px; padding-right: 30px"
          >
            <label
              style="
                align-items: start;
                margin-bottom: 8px;
                font-size: 12px;
                color: #4e6470;
              "
              >Contraseña <span style="color: red">*</span></label
            >
          </div>
        </div>
        <div class="row">
          <div class="col" style="padding-left: 30px; padding-right: 30px">
            <div
              style="display: flex; align-items: center; margin-bottom: 10px"
            >
              <div
                style="
                  display: flex;
                  align-items: center;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                  padding: 5px;
                "
              >
                <svg
                  style="width: 16px; height: 16px"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M400 192h-24V144C376 64.47 311.5 0 232 0S88 64.47 88 144v48H64C28.65 192 0 220.7 0 256v192C0 475.3 28.65 504 64 504h336c35.35 0 64-28.65 64-64V256C448 220.7 419.3 192 400 192zM232 384c-26.47 0-48-21.53-48-48s21.53-48 48-48s48 21.53 48 48S258.5 384 232 384zM296 192H168V144c0-35.29 28.71-64 64-64s64 28.71 64 64V192z"
                  />
                </svg>
              </div>
              <input
                type="password"
                id="password"
                size="25"
                tabindex="2"
                th:accesskey="#{screen.welcome.label.password.accesskey}"
                th:field="*{password}"
                autocomplete="off"
                style="
                  flex-grow: 1;
                  border: 1px solid #ced4da;
                  border-radius: 4px;
                  margin-left: 5px;
                  padding: 5px;
                "
                placeholder="********"
              />
              <span id="capslock-on" style="display: none">
                <p>
                  <i class="fa fa-exclamation-circle"></i>
                  <span th:utext="#{screen.capslock.on}" />
                </p>
              </span>
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center">
          <div
            style="text-align: center; margin-top: 15px; margin-bottom: 20px"
          >
            <input
              type="hidden"
              name="execution"
              th:value="${flowExecutionKey}"
            />
            <input type="hidden" name="_eventId" value="submit" />
            <input type="hidden" name="geolocation" />
            <input
              class="btn btn-submit"
              style="background-color: #8f141b; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;"
              name="submit"
              accesskey="l"
              th:value="#{screen.welcome.button.login}"
              tabindex="6"
              type="submit"
            />
          </div>
          <div style="text-align: center; margin-bottom: 10px">
            <a
              href="https://www.usco.edu.co/cambio_clave/"
              target="_blank"
              style="font-weight: bold; color: #8f141b; text-decoration: none"
            >
              Recuperar contraseña
            </a>
          </div>
          <div style="text-align: center">
            <small style="font-size: 12px">
              <b class="version">© 2024 CITCD - Versión 2 Construcción 1.0</b>
            </small>
          </div>
        </div>
      </form>
      <form
        th:if="${passwordManagementEnabled}"
        method="post"
        id="passwordManagementForm"
      >
        <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
        <input type="hidden" name="_eventId" value="resetPassword" />
        <span class="fa fa-unlock"></span>
        <a
          th:utext="#{screen.pm.button.resetPassword}"
          href="javascript:void(0)"
          onclick="$('#passwordManagementForm').submit();"
        />
        <p />
      </form>
      <script type="text/javascript" th:inline="javascript">
        var i = [[#{screen.welcome.button.login}]]
        $("#fm1").submit(function() {
            $(":submit").attr("disabled", true);
            $(":submit").attr("value", i);
            return true;
        });
      </script>
      <!-- div th:replace="fragments/loginsidebar"/-->
    </div>
  </div>
</div>
